@use "../../src/StyleSheet/config" as c;
@use "../../src/StyleSheet/theme" as t;

.add-conv-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include c.flex-center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: c.$transition-1;

  &.open{
    opacity: 1;
    pointer-events: all;
  }

  [data-theme="dark"] & {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.add-conv-container .content {
  background-color: t.$bg-color-shade-100;
  padding: c.$space-1;
  border-radius: c.$radius-2;
  border: 1px solid t.$bg-color-shade-300;
  width: 500px;

  .upper-content{
    position: relative;
    @include c.flex-center;
    padding: c.$space-1 0 c.$space-2;

    .upper-text{
        color: t.$text-color-shade-100;
    }

    .close-btn{
        position: absolute;
        right: 0;
        cursor: pointer;
    }
  }
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: c.$space-1;
  border: 1px solid t.$bg-color-shade-300;
  border-radius: c.$radius-2;
  background-color: t.$bg-color-shade-200;
  height: c.$height-1;
  overflow: hidden;

  input {
    position: absolute;
    background: none;
    padding-left: c.$space-3;
    height: 100%;
    width: 100%;
  }
}

.add-conv-container .lower-content {
  display: flex;
  flex-direction: column;
  padding: c.$space-3 0;

  .loading-spinner {
    padding: c.$space-3 0;
  }

  .empty-result{
    @include c.flex-center;
    padding: c.$space-3 0;
    color: t.$text-color-shade-300;
  }

  .search-result-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: c.$space-1;
    cursor: pointer;
    padding: c.$space-1;
    border-radius: c.$radius-3;
    user-select: none;

    @include c.hover-highlight;

    .avatar {
      height: 45px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .identifiers {
      display: flex;
      flex-direction: column;
      gap: calc(c.$space-1 * 0.3);

      .username {
        color: t.$text-color-shade-100;
      }

      .fullname {
        color: t.$text-color-shade-300;
      }
    }

    .selection-status {
      position: absolute;
      width: 25px;
      aspect-ratio: 1;
      border: 1px solid t.$text-color-shade-300;
      border-radius: 50%;
      right: 5%;
      @include c.flex-center;
    }

    svg {
      stroke: t.$bg-color-shade-100;
      opacity: 0;
    }

    &.selected {
      .selection-status {
        background-color: t.$text-color-shade-100;
        border-color: transparent;
      }

      svg {
        opacity: 1;
      }
    }
  }
}
