@use "../../src/StyleSheet/config" as c;
@use "../../src/StyleSheet/theme" as t;

.input {
  border-radius: c.$radius-1;
  background-color: t.$bg-color-shade-200;
  border: 1px solid t.$bg-color-shade-300;
  height: c.$height-2;
  padding: 0 c.$space-1;
}

.inputError {
  border-color: #fc4b4b;
}
